@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
:root {
  --dark-color: #171717;
  --light-color: #f3f3f3;
  --lightest-color: #ffffff;
  --purple: rgb(100, 26, 185);
  --red: rgb(255, 0, 0);
}

header {
  font-family: "DM Serif Display", serif;
  font-size: 1.5em;
  text-decoration: none;
}

section {
  font-family: Nunito, sans-serif;
  font-size: 1em;
  margin-bottom: 1em;
}


body {
  background-color: var(--light-color);
}

nav {
  font-size: 1rem;
  background-color: var(--dark-color);
  display: flex;
}

nav #company a {
  color: var(--purple);
  background: -webkit-linear-gradient(45deg, var(--purple), var(--red));
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ol {
  display: flex;
}

nav > ol {
  flex-basis: 100%;
}

nav ol li {
  text-align: center;
  padding: 1em;
}

#company {
  font-size: 1.625em;
}

#pages {
  margin-left: auto;
}

#pages li {
  margin: auto 0 auto;
}

a {
  color: white;
  text-decoration: none;
}

form, main {
  display: flex;
  padding-top: 1.5em;
  flex-wrap: wrap;
}

form > section, main > section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 0.125em; /*2px / 16px */
}

#cart-items-container, #shipping-container, #billing-container {
  margin: 0 auto 0 auto;
  flex-basis: 100%;
  padding: 0.9375em;
}

#shipping-container {
  order: 1;
}

#billing-container {
  order: 2;
}

#cart-summary-container {
  order: 3;
  flex-basis: 100%;
  padding: 0.9375em;
  margin: 0 auto 0 auto;
}


main > section, #cart-items, #cart-summary, #shipping, #billing, .products {
  display: flex;
  flex-direction: column;
  background-color: var(--lightest-color);
  padding: 1.5em;
}

.cart-item {
  display: grid;
  grid-template-columns: min-content auto;
  margin-top: 0.5em;
}

.cart-item .icon, .product-image {
  grid-row: span 3;
  max-width: 9.375em;
}

.cart-item .details {
  margin-top: 1em;
}

.cart-item .quantity {
  width: 4rem;
}

.details {
  grid-row: span 2;
}

.details .title {
  line-height: 1.5em;
  font-weight: 600;
}

.cart-item .misc {
  display: flex;
  flex-direction: row;
  text-align: right;
  grid-gap: 1rem;
}

.cart-item .misc .price {
  margin-right: auto;
  font-weight: 600;
}

.cart-item .misc input[type="button"], #checkout-btn {
  border: none;
  background: none;
}

.remove {
  border-radius: 0;
}

.remove, .edit {
  color: red;
}

a:hover, .remove:hover, .edit:hover {
  text-decoration: underline;
}

#directions {
  display: flex;
}

#directions input[type="submit"], #directions a, #checkout-btn {
  flex-basis: 50%;
  font-weight: 500;
  color: var(--red);
  background-color: white;
  border-radius: 0.1875em;
  border: 0.0625em solid var(--red);
  padding: 0.0625em 2em;
  margin: 0.125em;
  text-align: center;
}

#directions #keep-shop {
  color: var(--red);
  background-color: white;
  flex-basis: 35%;
}

#directions #check-out, #checkout-btn {
  color: white;
  background-color: var(--red);
  font-size: 1em; /* Fix checkout button's weird look */
}

#cart-summary header {
  margin-top: 1em;
}

#cost-listing {
  display: flex;
  flex-direction: column;
  padding: 1em 0 1em 0;
  margin-top: 0.25em;
  border-top: 0.1em solid var(--dark-color);
  border-bottom: 0.1em solid var(--dark-color);
}

#cost-listing li, #total li {
  display: flex;
  width: 100%;
}

#cost-listing li p, #total li p {
  flex-basis: 50%;
  margin: 0.2em 0 0.2em 0;
}

#total {
  margin-top: 1.5em;
}

.category {
  font-weight: 600;
  text-align: left;
}

.value {
  text-align: right;
}

section > header, #cart-items > header {
  font-weight: 600;
  margin-bottom: 0.25em;
}

.form-body {
  display: flex;
  flex-direction: column;
  margin-left: 0.75em;
}

.form-body li {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

.form-body li label {
  flex-basis: 20%;
}

.form-body li input {
  flex-basis: 80%;
}

.location {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  margin-top: 0.5em;
}

.location li {
  flex-direction: column;
  margin-top: 0.3em;
  margin-right: 0.2em;
}

.location li:nth-child(n) {
  flex-basis: 33%;
}

.location li:last-child {
  margin-right: 0;
}

#show-address-b {
  margin-top: 1em;
}

#show-address-b:not(:checked) ~ #address-b-form {
  visibility: collapse;
  display: none;
}

input {
  border: 0.0625em solid #7e7e7e;
  border-radius: 0.1875em;
  margin-top: 0.2em;
  padding: 0.5em;
}

input [type = "text"], select {
  margin-top: 0.23em;
  padding: 0.5em;
}
input [type="submit"] {
  font-family: inherit;
}

#phone-s {
  width: 10em;
}

#cvv {
  width: 5em;
}

#homescreen {
  flex-direction: column;
}

#homescreen a {
  color: red;
}

#homescreen a:hover {
  text-decoration: underline;
}

#order-confirmation {
  text-align: center;
}

#order-confirmation section {
  flex-basis: 100%;
}

#order-confirmation p {
  font-size: 1.5em;
  text-decoration: none;
}

.products {
  box-shadow: 0.3em 0.3em 0.5em -0.5em #aaa, -0.3em -0.3em 0.3em -0.5em #aaa;

}
.product-image {
  align-self: center;
}

.product-title, .product-price {
  font-weight: 600;
}
.product-detail {
  height: 100%;
}
.product-misc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.add-to-cart {
  background: none;
  border: 0.0625em solid #aaa;
  border-radius: 0.125em;
  cursor: pointer;
  font-family: inherit;
}
.add-to-cart:hover {
  background-color: var(--purple);
  color: var(--light-color);
  border-color: transparent;
}

.added-item {
  background-color: green;
}
.added-item:hover {
  background-color: green;
}

#cart-popup {
  background-color: var(--light-color);
  box-shadow: 0.4em 0.4em 0.3em -0.5em #aaa, -0.4em -0.4em 0.3em -0.5em #aaa;
  display: grid;
  grid-template: repeat(3,auto) / 10% 80% 10%;
  grid-row-gap: 0.25em;
  font-size: 0.5em;
  position: absolute;
  right: 0;
  width: 50%;
}
#cart-popup[aria-hidden="true"] {
  display: none;
}

#cart-popup ol {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#cart-popup a {
  grid-column: 2;
  grid-row: 3;
  margin-bottom: 0.5em;
  padding: 0;

}
#cart-popup img {
  width: 100%;
  height: auto;
}

#cart-popup .popup-img {
  display: none;
}

#success-message {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  margin: 0.5em 0;
}
#success-message img {
  width: 2em;
  height: 2em;
}

@media screen and (min-width: 28.125em) { /* 450 px, 16 pt */
  #product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
}

@media screen and (min-width: 32.1875em) { /* 515 px, 16 pt */
  #cart-popup {
    font-size: 0.5em;
  }

  #cart-popup .popup-product ul {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    grid-column-gap: 0.2em;
  }
  #cart-popup .popup-img {
    display: block;
    grid-column: 1;
    grid-row: span 2;
  }
  #cart-popup .popup-title {
    grid-column: 2/ span 2;
    grid-row: 1;
  }
  #cart-popup .popup-count {
    grid-column: 2;
    grid-row: 2;
    justify-self: top;
  }
  #cart-popup .popup-price {
    grid-column: 3;
    grid-row: 2;
  }

  #success-message img {
    width: 3em;
    height: 3em;
  }
}


@media screen and (min-width: 45.3125em) { /* 725 px, 16 pt */
  .location {
    flex-direction: row;
  }

  #cart-items-container, #shipping-container, #billing-container, #cart-summary-container {
    flex-basis: 90%;
  }

  #cart-summary-container {
    margin: 0 auto 0 auto;
  }

  #cart-popup {
    font-size: 0.6em;
  }

  #success-message img {
    width: 2.5em;
    height: 2.5em;
  }
}

@media screen and (min-width: 51.5625em) { /* 825 px, 16 pt */
  #product-list {
    grid-template-columns: repeat(3,1fr);
  }

  #cart-popup {
    font-size: 0.75em;
    min-width: 25em; /* 400px */
    width: 30%;
  }
}


@media screen and (min-width: 75em) { /* 1200 px, 16 pt */
  #billing-container {
    order: 3;
  }

  #cart-items, #cart-summary, #shipping, #billing {
    display: flex;
    flex-direction: column;
    background-color: var(--lightest-color);
    padding: 1.5em;
  }

  #cart-items-container, #shipping-container, #billing-container {
    margin: 0;
    flex-basis: 60%;
  }

  .location li {
    flex-direction: column;
    margin-top: 0;
    margin-right: 0.2em;
  }

  #cart-summary-container {
    order: 2;
    flex-basis: 35%;
    padding: 0.9375em;
  }

  #product-list {
    grid-template-columns: repeat(4,1fr);
  }
}
